<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All users</title>
</head>
<body>

<div th:each="user : ${users}">
    <a th:text="${user.getName()} + ', ' + ${user.getAge()}" th:href="@{/users/{id}(id=${user.getId()})}">user</a>
</div>
<br>
<hr>
<a href="/users/new">Create user</a>
</body>
</html>